# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Env / Secrets
.env
.env.local
.env.production
serviceAccountKey.json
*.pem

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Mobile specific
android/app/debug/
android/app/profile/
android/app/release/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# User uploads
backend/uploads/*
!backend/uploads/.gitkeep
